*{
    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 60px;
    background-color: black;
}

.hero-section{
    margin-top:60px ;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.inputs{
    margin-bottom: 60px;
    background-color: black;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inputs input, button{
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.632);
    color: rgb(12, 12, 12);
    background-color: rgb(230, 228, 228);
    border-radius: 175px;
    font-size: 1.5rem;
    width: 350px;
    height: 75px;
}

.card{
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    width:600px;
    max-width: 1000x;
    height: 300px;
    max-height: 1000px;
    background-color: grey;
    border-radius: 20px;
}

.todo-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    max-height: 3000px;
}

@media screen and (max-width:400px)and(max-width:1024px){

    .inputs{
        margin-bottom: 20px;
        background-color: black;
        width:100% ;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    input, button{
        box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.632);
        color: rgb(12, 12, 12);
        background-color: rgb(230, 228, 228);
        border-radius: 25%;
        font-size: 0.8rem;
        width: 150px;
        height: 150px;
    }

    .hero-section{
        margin-top:60px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    
.todo-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    max-height: 3000px;
}



.card{
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    width:300px;
    max-width: 1000x;
    height: 150px;
    max-height: 1000px;
    background-color: grey;
    border-radius: 20px;
}

    
}